[Unit]
Description=Run monitoring-test.sh every minute

[Timer]
OnBootSec=30
OnUnitActiveSec=60
Unit=monitoring-test.service

[Install]
WantedBy=timers.target